{% if footer is defined %}
    <p class="text-muted" style="margin: 10px 0;">© {{ footer.year }} {{ footer.company }}. All rights reserved</p>
{% else %}
    <p class="text-muted" style="margin: 10px 0;">© 2016 MyCompany . All rights reserved</p>
{% endif %}