<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" id="{{ id }}">
    <div class="modal-dialog modal-lg" role="document">
        <form action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add resource</h4>
                </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="inputUri" class="col-sm-2 col-form-label">URI</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="uri" name="uri">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputType" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="method" name="method">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDesc" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="detail" name="detail">
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="submit"  value="Submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>